////////////////////////////////////////////
/////////// VARIABLES /////////////////////
//////////////////////////////////////////
$cell_size: 16px;
$view_width: 960px;
$view_height: 640px;


html, body, canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  // background: #fff;
  background: #161c20;
}

canvas {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#ui-button-decrease-cell-size {
  position: relative;
  top: 70%;
  left: 5%;
  display: block;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
}

#root, #grid {
  position: fixed;
  top: 50px;
  left: 25px;
  height: $view_height;
  width: $view_width;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#protoCell {
  width: $cell_size;
  height: $cell_size;
}

.cell {
  width: $cell_size;
  height: $cell_size;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.path {
  color: #4179f7 !important;
}

.closed {
  color: #f8f6bb;
}
