html, body, canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #161c20;
}

canvas {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  position: fixed;
  top: 50px;
  left: 5px;
  height: 320px;
  width: 480px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#grid {
  position: fixed;
  top: 50px;
  left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 320px;
  width: 480px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#protoCell {
  width: 10px;
  height: 10px;
}

.cell {
  width: 10px;
  height: 10px;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.path {
  color: #4179f7 !important;
}

.closed {
  color: #f8f6bb;
}
